@using Microsoft.AspNetCore.Components.QuickGrid
@using System.Text.Json
<h3>Projects : @data?.Length </h3>

@if (data?.Length > 0)
{
    <QuickGrid Items="IndexProjects" Class="quick-grid">

        <PropertyColumn Property="p => (p.index+1)" Sortable="false" Title="Index" />

        <PropertyColumn Property="p => p.project.Project.Name" Sortable="true" />
        <TemplateColumn Context="prj" Title="Source Code" >
            <a target="_blank" href="@($"{prj.project.Project.SourceCodeUrl}")">@prj.project.Project.SourceCodeUrl</a>
        </TemplateColumn>
        <PropertyColumn Property="p => p.project.Project.Description" Sortable="false" />
        <TemplateColumn Context="prj" Title="Stars">
            @{
                foreach (var item in prj.project.Stars)
                {
                    <div>Year @item.DateRecording.Year : count @item.Count</div>
                }
            }
        </TemplateColumn>
    </QuickGrid>
}
@code {

    int nrSetParameters;
    [Parameter]
    public ProjectWithStars_null[]? data { get; set; }
    [Inject(Key = "statsconsole_host")]
    public HttpClient? httpApi { get; set; }

    
    public IQueryable<(int index, ProjectWithStars_null project)> IndexProjects =>
        (data ?? Enumerable.Empty<ProjectWithStars_null>()).Index().AsQueryable();


}




