@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using StatsInterfaces
@using System.Text.Json
@using StatsInterfaces.UI
@using StatsObjectsFromAPI


<PageTitle>Home</PageTitle>


<DisplayProjects data="@projects?.ToArray()" FinishStreaming="@HasFinishedStreaming" ></DisplayProjects>
@* <button class="btn btn-primary" @onclick="StreamProjectsJson">Stream Projects</button> *@


@code{
    private bool isFirstRender = true;
    private bool HasFinishedStreaming = false;
    [Inject(Key = "statsconsole_host")]
    public HttpClient? httpApi { get; set; }
    [Inject]
    public IWebAssemblyHostEnvironment? hostEnvironment { get; set; }

    [Inject]
    public StatsDataFromAPI? dataFromAPI { get; set; }

    public List<IProjectWithStars>? projects = null;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (isFirstRender)
        {
            isFirstRender = false;
            await StreamProjectsJson();
        }
    }


    int[] ints = [10, 50,80];
    private async Task StreamProjectsJson()
    {
        ArgumentNullException.ThrowIfNull(httpApi);
        projects = new List<IProjectWithStars>();

        StateHasChanged();
        await foreach (IProjectWithStars? prj in dataFromAPI!.GetProjectsWithStars())
        {
            if (prj == null) continue;

            projects.Add(prj);
            if (ints.Contains(projects.Count) || (projects.Count %100 == 0) ){
                StateHasChanged();
                await Task.Delay(1000);
            }
        }
        HasFinishedStreaming = true;
        StateHasChanged();
    }

}