@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inherits LayoutComponentBase
@* Required *@
<HeadContent>
    <RadzenTheme Theme="material" />
</HeadContent>
<RadzenComponents />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/ignatandrei/dotnetstats" target="_blank">About</a>
        </div>

        <article class="content px-4">
        @Body
            
        </article>
    </main>
    
</div>
<footer>
    Data: 
    <small>HOST:  @hostEnvironment?.BaseAddress </small>

    <small>API: @httpApi?.BaseAddress</small>

</footer>

@code{
    [Inject(Key = "statsconsole_host")]
    public HttpClient? httpApi { get; set; }
    [Inject]
    public IWebAssemblyHostEnvironment? hostEnvironment { get; set; }

}